---
// メインSCSSファイルをインポート
import "../styles/main.scss";

import Head from "../assets/components/common/head.astro";
import TopHeader from "../assets/components/common/topHeader/topHeader.astro";
import SiteBg from "../assets/components/common/siteBg.astro";
import Footer from "../assets/components/common/footer/footer.astro";
---

<html lang="ja">
  <Head />
  <body>
    <SiteBg />
    <TopHeader />
    <Footer />
  </body>
</html>

<style lang="scss">
  // 必要なmixin/functionをインポート
  @import "../styles/variables";
  @import "../styles/functions";
  @import "../styles/mixins";
  body {
    display: block; //最後に消す
  }
</style>
