---
// メインSCSSファイルをインポート
import "../styles/main.scss";

import { getImage } from "astro:assets";
import Head from "../assets/components/common/head.astro";
import TopHeader from "../assets/components/common/topHeader/topHeader.astro";
import SiteBg from "../assets/components/common/siteBg.astro";
import Footer from "../assets/components/common/footer/footer.astro";
import Hero from "../assets/components/pages/top/1-hero.astro";
import Lead from "../assets/components/pages/top/2-lead.astro";
import MainSlider from "../assets/components/pages/top/3-mainSlider.astro";
import EnjoyItem from "../assets/components/pages/top/4-1-enjoyItem.astro";
---

<html lang="ja">
  <Head />
  <body>
    <SiteBg />
    <TopHeader />
    <main>
      <Hero />
      <Lead />
      <MainSlider />
      <section class="enjoy">
        <h2 class="enjoy__title">
          いずみの湯を<br class="only-sp" />「とことん楽しむ」
        </h2>
        <EnjoyItem />
      </section>
      <!-- <section>
        <div class="">施設内の混雑状況</div>
        <div class="">2024.11.20(水)　11:00時点</div>
      </section> -->
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  // 必要なmixin/functionをインポート
  @import "../styles/variables";
  @import "../styles/functions";
  @import "../styles/mixins";

  main {
    padding-top: spx(176);
    @include tablet-up {
      padding-top: tpx(185);
    }
    @include desktop-up {
      padding-top: ppx(182);
    }
  }

  .enjoy {
  }
</style>
