---
// メインSCSSファイルをインポート
import '../styles/main.scss';

import { getImage } from 'astro:assets';
import Head from '../assets/components/common/head.astro';
import TopHeader from '../assets/components/common/topHeader/topHeader.astro';
import SiteBg from '../assets/components/common/siteBg.astro';
import Footer from '../assets/components/common/footer/footer.astro';
import Hero from '../assets/components/pages/top/1-hero.astro';
import Lead from '../assets/components/pages/top/2-lead.astro';
import MainSlider from '../assets/components/pages/top/3-mainSlider.astro';
import Enjoy from '../assets/components/pages/top/4-enjoy.astro';
import Crowd from '../assets/components/pages/top/5-crowd.astro';
import News from '../assets/components/pages/top/6-news.astro';
---

<html lang="ja">
  <Head />
  <body>
    <SiteBg />
    <TopHeader />
    <main>
      <Hero />
      <Lead />
      <MainSlider />
      <Enjoy />
      <Crowd />
      <News />
    </main>
    <Footer />
  </body>
</html>

<style lang="scss">
  // 必要なmixin/functionをインポート
  @import '../styles/variables';
  @import '../styles/functions';
  @import '../styles/mixins';

  main {
    padding-top: spx(176);
    @include tablet-up {
      padding-top: tpx(185);
    }
    @include desktop-up {
      padding-top: ppx(182);
    }
  }
</style>
